@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
    padding: 0 30px;
}

.wrapper {
    max-width: 480px;
    width: 100%;
    background: #FFF;
    padding: 35px 40px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.2);
}

.wrapper .input-box {
    position: relative;
    height: 60px;
    margin: 25px 0;
}

.input-box input {
    height: 100%;
    width: 100%;
    background: #FFF;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    border-radius: 6px;
    padding: 0 40px 0 16px;
    border: 2px solid #a7a7a7;
    transition: all 0.3s ease;
}

.input-box input:focus{
    border-color: #4070F4;
}

.input-box label,
.input-box i {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   color: #a7a7a7;
}

.input-box label {
    left: 15px;
    font-size: 18px;
    font-weight: 400;
    background: #fff;
    padding: 0 6px;
    pointer-events: none;
    transition: all 0.3s ease;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: 0;
    color: #4070F4;
    font-size: 14px;
}

.input-box i {
    right: 15px;
    padding: 8px;
    cursor: pointer;
}

.alert {
    display: flex;
    align-items: center;
    margin-top: -13px;
}

.alert .errorIcon {
    margin-right: 8px;
    color: #D93025;
    font-size: 18px;
    display: none;
}

.alert .text {
    color: #a7a7a7;
    font-size: 18px;
    font-weight: 500;
}

.input-box.button #button {
    background: #4070F4;
    border: none;
    font-size: 20px;
    color: #FFF;
    letter-spacing: 1px;
    cursor: not-allowed;
}

.input-box.button #button.active:hover {
    background: #265df2;
    cursor: pointer;
}